N8N PRIME/AGENTE ELMA.json
{
  "name": "AGENTE ELMA",
  "nodes": [
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json.chatid }}",
        "messageId": "={{ $('Edit Fields').item.json.payload_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -6496,
        2352
      ],
      "id": "53d7e65f-5f0b-490e-8ed1-5b80ca2c831c",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "6m9bOZKBFPGzNFwS",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "check_transfer_tag",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "[TRANSFERIR_WHATSAPP]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6096,
        2352
      ],
      "id": "94b6c2b7-1fc8-4f14-91e0-ebb96292c901",
      "name": "If Transferencia"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "FINANCEIRO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "check_financeiro"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "LOGISTICA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "check_logistica"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output }}",
                    "rightValue": "COMERCIAL",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "check_comercial"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5904,
        2336
      ],
      "id": "fd930644-4d14-43c2-a26e-a55b5879fea4",
      "name": "Switch Setor",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "120363408812619689@g.us",
        "text": "=🚨 *NOVO ATENDIMENTO TRANSFERIDO* 🚨\n\n*Cliente / Contato:* {{ $('Edit Fields').item.json.pushname || 'Não identificado' }}\n*Telefone:* {{ $('Edit Fields').item.json.phone_number }}\n\n*Resumo da IA:*\n{{ $('AI Agent').item.json.output.split('RESUMO DA SOLICITAÇÃO PARA O ANALISTA:')[1].split('EM BREVE VOCÊ SERÁ RESPONDIDO')[0].replace('[TRANSFERIR_WHATSAPP]', '').trim() }}\n\n🔗 *Clique aqui para falar com ele:* https://wa.me/55{{ $('Edit Fields').item.json.phone_number }}",
        "linkPreview": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -5696,
        2208
      ],
      "id": "b25ec02f-3708-427e-829c-08a36579e7e3",
      "name": "Alerta Grupo Financeiro",
      "credentials": {
        "wahaApi": {
          "id": "6m9bOZKBFPGzNFwS",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "120363409205169298@g.us",
        "text": "=🚨 *NOVO ATENDIMENTO TRANSFERIDO* 🚨\n\n*Cliente / Contato:* {{ $('Edit Fields').item.json.pushname || 'Não identificado' }}\n*Telefone:* {{ $('Edit Fields').item.json.phone_number }}\n\n*Resumo da IA:*\n{{ $('AI Agent').item.json.output.split('RESUMO DA SOLICITAÇÃO PARA O ANALISTA:')[1].split('EM BREVE VOCÊ SERÁ RESPONDIDO')[0].replace('[TRANSFERIR_WHATSAPP]', '').trim() }}\n\n🔗 *Clique aqui para falar com ele:* https://wa.me/55{{ $('Edit Fields').item.json.phone_number }}",
        "linkPreview": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -5696,
        2352
      ],
      "id": "b38229bd-dc7d-4940-91b4-3b468be104f1",
      "name": "Alerta Grupo Logistica",
      "credentials": {
        "wahaApi": {
          "id": "6m9bOZKBFPGzNFwS",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "120363410461305895@g.us",
        "text": "=🚨 *NOVO ATENDIMENTO TRANSFERIDO* 🚨\n\n*Cliente / Contato:* {{ $('Edit Fields').item.json.pushname || 'Não identificado' }}\n*Telefone:* {{ $('Edit Fields').item.json.phone_number }}\n\n*Resumo da IA:*\n{{ $('AI Agent').item.json.output.split('RESUMO DA SOLICITAÇÃO PARA O ANALISTA:')[1].split('EM BREVE VOCÊ SERÁ RESPONDIDO')[0].replace('[TRANSFERIR_WHATSAPP]', '').trim() }}\n\n🔗 *Clique aqui para falar com ele:* https://wa.me/55{{ $('Edit Fields').item.json.phone_number }}",
        "linkPreview": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -5696,
        2496
      ],
      "id": "6cdc676d-9058-4924-94bf-af166e2b84c1",
      "name": "Alerta Grupo Comercial",
      "credentials": {
        "wahaApi": {
          "id": "6m9bOZKBFPGzNFwS",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use obrigatoriamente no início do atendimento para identificar o Colaborador. Você DEVE pedir APENAS o CPF do usuário para verificar a identidade. \nREGRA CRÍTICA: Limpe o CPF antes de enviar para o banco de dados, utilizando apenas os números puros, sem pontuações ou símbolos. Não use esta ferramenta para buscar dados de clientes e nunca peça código de RCA.",
        "operation": "getAll",
        "tableId": "n8n_auth_colaboradores",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "cpf",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `CPF fornecido pelo RCA( formatação em texto).`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -7584,
        2560
      ],
      "id": "73a1c848-44ad-4396-8711-340813083527",
      "name": "Validar_RCA",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7013d17-e595-4bce-9c6e-e819168e8ed5",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "15288603-6faf-4049-a37f-c427b29ae1f2",
              "name": "chatid",
              "value": "={{ String($json.body.payload.fromMe ? ($json.body.payload.to || $json.body.payload.from) : $json.body.payload.from) }}",
              "type": "string"
            },
            {
              "id": "43e55c64-a3df-413c-bd16-f6c610793b0e",
              "name": "pushname",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "2fb0f29b-1828-4e9a-9b45-3375f579c4ab",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "a2295d3d-87a7-48ca-b995-d27c3466c958",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "b8fd89d3-9639-41b0-be0d-1a9c1d185b24",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "0896a014-f39e-4adb-b6a7-9420d029d5b6",
              "name": "fromme",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "f7f46cb7-d5f3-436d-87f0-843d09017fc5",
              "name": "phone_number",
              "value": "={{ (($json.body.payload._data && $json.body.payload._data.Info && $json.body.payload._data.Info.SenderAlt) ? $json.body.payload._data.Info.SenderAlt.split(':')[0] : $json.body.payload.from.split(':')[0]).split('@')[0].replace(/\\D/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7696,
        2352
      ],
      "id": "1e668c22-8d8e-4bb7-9138-01fd6cbdf383",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7904,
        2352
      ],
      "id": "08a05846-6661-4f9a-894d-4cb896680db8",
      "name": "Webhook",
      "webhookId": "0227ff26-68fe-4924-98bd-0ab5535d0500"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "67b93198-356a-4933-9b81-a6cd532e3b2e",
              "leftValue": "={{ $json.fromme === false || ($json.message && $json.message.toLowerCase() === 'atendimento finalizado') }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            },
            {
              "id": "fix_echo_loop",
              "leftValue": "={{ !($json.message) || !$json.message.includes('NÃO RESPONDA ESSA MENSAGEM') }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            },
            {
              "id": "ignore_groups_rule",
              "leftValue": "={{ $json.chatid }}",
              "rightValue": "g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7504,
        2352
      ],
      "id": "94695267-0874-4ff6-80c8-f1bf538cc6d3",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f91d0906-6351-41e9-b218-608de745620f",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "IGNORAR",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7504,
        2224
      ],
      "id": "371dbbb6-c899-4df5-ba7e-ba8dd166f6a1",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=[CONTEXTO DE TEMPO] Hoje é {{ $now.toFormat('dd/MM/yyyy') }}, {{ $now.toFormat('HH:mm') }}, ano {{ $now.toFormat('yyyy') }}.\nVocê é a Elma, assistente virtual da *PRIME Distribuição*. Atende apenas clientes e colaboradores (RCA).\n\n# 1. INÍCIO DO ATENDIMENTO\nSe não souber o perfil, pergunte:\n\"Olá! 👋 Sou a Elma, a assistente virtual da *PRIME Distribuição*. Para agilizarmos, responda com o número da opção:\n1️⃣ Sou Cliente\n2️⃣ Sou Colaborador\"\n\n---\n# 2. FLUXO DO CLIENTE (Opção 1)\nPeça: \"Já é um cliente nosso? Informe CNPJ, CPF ou Código de Cliente cadastrado. 📝\"\n- OBRIGATÓRIO: Use `Consultar_Cadastro_Cliente` (envie SÓ UM dado: ou código, ou cnpj).\n- NÃO LOCALIZOU: \"Cadastro não localizado ❌. Confirme os dados ou posso transferir para o Comercial.\"\n- LOCALIZOU: Envie o \"Layout A\" e pergunte \"Posso te ajudar com mais alguma coisa? Descreva o problema.\"\n\n⚠️ PROIBIÇÃO MÁXIMA PARA CLIENTES: Clientes NUNCA podem acessar histórico, pedidos, vendas ou financeiro. Se pedir, negue: \"Por questões de segurança, os detalhes de pedidos e valores são tratados com seu vendedor ou o Setor Comercial. Deseja que eu transfira o seu atendimento?\"\n\n**Cliente Novo (Cadastro):**\nSe quiser se cadastrar, envie o Layout H para ele preencher. Quando retornar, transfira para o COMERCIAL com a tag [TRANSFERIR_WHATSAPP].\n\n**Pós-Venda (Avarias/Problemas):**\nPeça para responder: \"Data do pedido? Quem vendeu? Valor? Teve bonificação? Produtos danificados?\". Após respostas, monte o Layout I e transfira para o COMERCIAL.\n\n---\n# 3. FLUXO DO COLABORADOR (Opção 2 - OBRIGATÓRIO)\n1. Peça: \"Por favor, informe o seu CPF para validação. 📝\" (PARE E AGUARDE).\n2. OBRIGATÓRIO: Use `Validar_RCA` APENAS com o CPF fornecido (só números).\n3. Se sucesso, exiba o Menu:\n\"Olá, {codigo} {nome}! 👋 CPF confirmado! Como posso te ajudar agora?\n1️⃣ Cadastro de um cliente.\n2️⃣ Histórico de pedidos.\n3️⃣ Consultar pedido especifico.\n4️⃣ Inovações.\n5️⃣ Mix ideal.\n6️⃣ Sugestão de pedido.\n7️⃣ Consultar Estoque.\n8️⃣ Outra opção.\"\n\n**Regras do Colaborador:**\n- Opções 1, 4, 5, 6: Exija Código do Cliente ou CNPJ.\n- Opção 2: Exija Código do Cliente/CNPJ E o Período.\n- Opção 3: Exija APENAS o Número do Pedido.\n- Opção 7: Exija Código do Produto E Filial.\n- SEMPRE termine as opções 1-7 com: \"Posso te ajudar em algo mais? Caso deseje ver o menu novamente digite *Menu*.\"\n- Comando *Menu*: Re-exiba a lista de 1 a 8.\n\n---\n# 4. FERRAMENTAS E DADOS (CRÍTICO)\n- ZERO TRUST: Só consulte pedidos se o colaborador validou o CPF (`Validar_RCA`).\n- MASTER BUSCA: OBRIGATÓRIO para vendas/bonificações de clientes. NUNCA use para clientes finais.\n  - DESAMBIGUAÇÃO: Se pedir \"vendas\", pergunte antes: \"Qual tipo? 1️⃣ Vendas (Normal) 2️⃣ Bonificações 3️⃣ Perdas/Trocas 4️⃣ Todos\". Se \"Todos\", deixe `tipo_venda_pedido` VAZIO.\n  - CONFIRMAÇÃO: Antes de rodar a busca, monte um card com os parâmetros entendidos e peça \"Posso prosseguir?\".\n- CADASTRO: Apenas `Consultar_Cadastro_Cliente`. Descubra a filial passando a 'cidade' na `Consultar_Filial_Cidade`.\n- ANTI-ALUCINAÇÃO: Não invente CNPJ, Código ou Pedido. Se não sabe, deixe o parâmetro VAZIO.\n- FORMATO: Envie CNPJ/CPF apenas com números puros. Destacado no WhatsApp usa *asterisco simples*.\n\n---\n# 5. DIRECIONAMENTO E MODO SUSPENSO\nSe não puder resolver, você DEVE transferir.\n- FINANCEIRO: Boletos, pagamentos, faturamento, notas fiscais, cobrança.\n- LOGISTICA: Entregas, caminhão.\n- COMERCIAL: Produtos, vendas, dúvidas gerais, pós-venda.\n\n**FORMATO EXATO OBRIGATÓRIO DE TRANSFERÊNCIA:**\n[NOME DO SETOR]\n*⚠️NÃO RESPONDA ESSA MENSAGEM, APENAS AGUARDE QUE UM DE NOSSOS ANALISTAS IRÁ ENTRAR EM CONTATO.⚠️*\nRESUMO DA SOLICITAÇÃO PARA O ANALISTA:\n\"[Crie um resumo direto de 1 linha]\"\n*EM BREVE VOCÊ SERÁ RESPONDIDO*, CASO SEJA URGENTE, LIGUE PARA +55 73 3223-6100.\n[TRANSFERIR_WHATSAPP]\n\n**MODO SUSPENSO:**\nApós a transferência, responda \"IGNORAR\" a qualquer mensagem, até o usuário digitar \"Atendimento finalizado\". Quando digitar, diga \"O atendimento humano foi encerrado! Posso te ajudar em algo mais?\".\n\n---\n# 6. ESTRATÉGIAS DE VENDAS\n- MIX IDEAL: Categorias obrigatórias. Retorna o que ele compra e o que falta.\n- INOVAÇÕES: Produtos novos positivados. Média < R$1500 = sugira gramaturas < 100g.\n- ESTOQUE CRÍTICO: Só sugira produtos com estoque > 0 na FILIAL do cliente.\n\n---\n# 7. LAYOUTS OBRIGATÓRIOS DE SAÍDA (Siga rigorosamente)\n\n**Layout A (Cadastro):** Cadastro localizado! ✅ | Razão: {razao} | Fantasia: {fantasia} | CNPJ: {cnpj} | Cód: {codigo} | Bairro: {bairro} | Cidade: {cidade} | Filial: {filial} | Bloqueio: {bloqueio}\n**Layout B (Pedido):** 🏢 Cliente: {fantasia} | 📍 {bairro}, {cidade} | 🚦 Bloqueio: {bloqueio} | 📦 Pedido Data: {data} | Pedido: {numero} | Valor: R$ {valor} | Mix: {qtd_itens} | Tipo: {tipo} | Salty: {salty} | Foods: {foods}\n**Layout C (Itens do Pedido):** 🛒 Itens: 🔹 {qtd} x {nome} un R$ {preco}. (Liste todos)\n**Layout D (Inovações):** *CATEGORIAS POSITIVADAS✅:* (Liste as positivadas no mês). *OPORTUNIDADES✨:* (Sugira até 9 com base no histórico). *Dica de Venda:* (1 frase curta).\n**Layout E (Mix Ideal):** *Meta:* 18 produtos. *GARANTIDAS✅:* (O que já compra). *FALTANTES🚨:* (O que falta, com 1 produto forte).\n**Layout F (Sugestão Matadora):** *1. REPOSIÇÃO:* (Até 8 categorias fortes). *2. MIX IDEAL:* (CÓDIGO - NOME para faltantes). *3. INOVAÇÃO:* (3 inovações: CÓDIGO - NOME). *Resumo:* (1 frase motivacional). NUNCA use parênteses de sugestão.\n**Layout G (Estoque):** 📦 *Produto:* {nome} ({cod}) | *Filial:* {filial} | *Estoque:* {qtd} Cx.\n**Layout H (Novo Cadastro):** 🔹 CNPJ/CPF: | 🔹 Razão: | 🔹 Fantasia: | 🔹 IE: | 🔹 Ramo: | 🔹 Check-outs: | 🔹 Endereço: | 🔹 Bairro: | 🔹 Cidade: | 🔹 CEP: | 🔹 Resp: | 🔹 Email:\n**Layout I (Pós-Venda):** CHAMADO: 🔹 Data: | 🔹 Vend: | 🔹 Valor: | 🔹 Bonif?: | 🔹 Danificados: | 🔹 Relato:",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -7104,
        2352
      ],
      "id": "01d1890b-e8ee-4520-ab71-bdb229bce91e",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clean_output_id",
              "name": "output_limpo",
              "value": "={{ $('AI Agent').item.json.output.includes('[TRANSFERIR_WHATSAPP]') ? '⚠️ *Seu atendimento foi encaminhado para a nossa equipe de analistas.*\\n\\nPor favor, aguarde um instante. Um de nossos analistas entrará em contato por aqui mesmo em breve.\\n\\n_Caso seja uma situação urgente e não obtenha retorno em até 1 hora, ligue para +55 73 3223-6100._' : $('AI Agent').item.json.output.replace('[TRANSFERIR_WHATSAPP]', '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6704,
        2352
      ],
      "id": "e40f5166-6a9d-4eb8-9e80-e17325afba8a",
      "name": "Limpar Mensagem IA Ajustado"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Edit Fields').item.json.session }}",
        "chatId": "={{ $('Edit Fields').item.json.chatid }}",
        "text": "={{ $('Limpar Mensagem IA Ajustado').item.json.output_limpo }}",
        "linkPreview": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        -6304,
        2352
      ],
      "id": "ed2f0e62-378a-4228-ae6e-f4c22c7ce932",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "6m9bOZKBFPGzNFwS",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"codigo_produto\": {\n      \"type\": \"string\",\n      \"description\": \"Código numérico exato do produto para consultar o estoque.\"\n    },\n    \"termo_busca\": {\n      \"type\": \"string\",\n      \"description\": \"Parte do nome do produto ou nome da categoria para buscar opções no catálogo (ex: 'CHEETOS', 'TODDY '). Use apenas se não tiver o código_produto.\"\n    }\n  },\n  \"description\": \"Use esta ferramenta para buscar produtos no catálogo geral da distribuidora, seja para encontrar opções de uma marca/categoria (termo_busca) ou para consultar o estoque exato de um item (codigo_produto). O retorno incluirá o JSON 'estoque_filial'.\"\n}",
        "operation": "getAll",
        "tableId": "dim_produtos",
        "limit": 20,
        "filterType": "string",
        "filterString": "={{    [     $fromAI(\"codigo_produto\") ? `codigo=eq.${$fromAI(\"codigo_produto\")}` : \"\",     $fromAI(\"termo_busca\") ? `mix_marca=ilike.*${$fromAI(\"termo_busca\")}*` : \"\"   ].filter(x => x !== \"\").join(\"&\") || \"codigo=is.null\" }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -6208,
        2560
      ],
      "id": "131cba77-4eb1-44ad-b890-604af2a39740",
      "name": "Consultar_Catalogo_Produtos",
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cidade\": {\n      \"type\": \"string\",\n      \"description\": \"Nome da cidade do cliente (ex: ITABUNA).\"\n    }\n  },\n  \"required\": [\"cidade\"]\n}",
        "operation": "getAll",
        "tableId": "config_city_branches",
        "returnAll": true,
        "filterType": "string",
        "filterString": "={{ $fromAI(\"cidade\") ? `cidade=ilike.*${$fromAI(\"cidade\")}*` : \"cidade=is.null\" }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -6384,
        2560
      ],
      "id": "d6642196-fcc6-4e32-a262-a5ad45b33720",
      "name": "Consultar_Filial_Cidade",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"codigo_cliente\": {\n      \"type\": \"string\",\n      \"description\": \"Código numérico exato do cliente.\"\n    },\n    \"lista_produtos\": {\n      \"type\": \"string\",\n      \"description\": \"Lista de códigos dos produtos separados por vírgula (ex: 6049,6051).\"\n    }\n  }\n}\nUse para verificar se o cliente JÁ positivou inovações NO MÊS ATUAL. Retorna apenas se houve venda normal (1,9) maior ou igual a R$1,00 para os códigos de produto fornecidos.",
        "operation": "getAll",
        "tableId": "data_detailed",
        "limit": 30,
        "filterType": "string",
        "filterString": "={{   [    $fromAI(\"codigo_cliente\") ? `codcli=eq.${$fromAI(\"codigo_cliente\")}` : \"\",    $fromAI(\"lista_produtos\") ? `produto=in.(${$fromAI(\"lista_produtos\")})` : \"\",    \"tipovenda=in.(1,9)\",    \"vlvenda=gte.1\",    `dtped=gte.${$today.startOf('month').toISODate()}`  ].filter(x => x !== \"\").join(\"&\") || \"codcli=is.null\"}}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -6560,
        2560
      ],
      "id": "ca3eb7db-93a9-43f0-9c0c-88a1e109b43b",
      "name": "Consultar_Inovacao_Mes_Atual",
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"codigo_cliente\": {\n      \"type\": \"string\",\n      \"description\": \"Código numérico do cliente.\"\n    }\n  },\n  \"description\": \"Use esta ferramenta para buscar o histórico de compras de um cliente. O retorno incluirá as colunas 'produtos' e 'categorias' (JSON) que indicam o que o cliente costuma comprar.\"\n}",
        "operation": "getAll",
        "tableId": "data_summary_frequency",
        "limit": 30,
        "filterType": "string",
        "filterString": "={{    [     $fromAI(\"codigo_cliente\") ? `codcli=eq.${$fromAI(\"codigo_cliente\")}` : \"\"   ].filter(x => x !== \"\").join(\"&\") || \"codcli=is.null\" }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -6736,
        2560
      ],
      "id": "32c44330-1a87-4e38-b41b-5d89d227fb70",
      "name": "Consultar_Historico_Frequencia",
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para consultar a lista completa de produtos presente em cada categoria de inovações. Essa ferramenta não requer parâmetros de busca. Chame-a quando precisar saber quais são os produtos que podem positivar uma uma categoria de inovações.",
        "url": "https://docs.google.com/spreadsheets/d/1F1NTWFYTCvRvS0xeITKFxjnmLoUYicow/edit?usp=sharing&ouid=108114633611709110150&rtpof=true&sd=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -6912,
        2560
      ],
      "id": "2519504f-3250-4f0d-964a-a5d1a67b6ebf",
      "name": "Consultar_relação_inovações"
    },
    {
      "parameters": {
        "toolDescription": "Use esta ferramenta para consultar a lista completa de produtos do Mix Ideal. Essa ferramenta não requer parâmetros de busca. Chame-a quando precisar saber quais são os produtos obrigatórios que devem compor o Mix do cliente.",
        "url": "https://docs.google.com/spreadsheets/d/1wIF9UzPlyRFnt6MQh-kG9VuMD22Mcwiu/edit?gid=5159951#gid=5159951",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -7088,
        2560
      ],
      "id": "4923d91d-756f-49de-add0-d5973bd44719",
      "name": "Consultar_Mix_Ideal"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use para buscar Vendas, Pedidos e Histórico. Só use se o CPF foi validado em Validar_RCA.\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"codigo_cliente\": {\n      \"type\": \"string\",\n      \"description\": \"Código numérico exato do cliente. NÃO preencha ou deduza se o usuário não fornecer.\"\n    },\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"CNPJ do cliente. OMITA esta propriedade se não souber o CNPJ. NUNCA preencha com zeros ou dados fictícios.\"\n    },\n    \"tipo_venda_pedido\": {\n      \"type\": \"string\",\n      \"description\": \"Tipo da operação. Envie 11 para Bonificação e 5 para Perda. Para tipos de venda normal, envie estritamente 1,9 sem usar espaços ou as palavras 'e/ou'.\"\n    },\n    \"numero_pedido\": {\n      \"type\": \"string\",\n      \"description\": \"Número exato do pedido. OMITA esta propriedade se não for fornecido. NUNCA preencha com 0.\"\n    },\n    \"data_inicio\": {\n      \"type\": \"string\",\n      \"description\": \"Data inicial da busca no formato YYYY-MM-DD.\"\n    },\n    \"data_fim\": {\n      \"type\": \"string\",\n      \"description\": \"Data final da busca no formato YYYY-MM-DD.\"\n    }\n  }\n}",
        "operation": "getAll",
        "tableId": "n8n_agent_view",
        "limit": 5,
        "filterType": "string",
        "filterString": "={{   [     $fromAI(\"codigo_cliente\") && !/^0+$/.test($fromAI(\"codigo_cliente\")) ? `codigo_cliente=eq.${$fromAI(\"codigo_cliente\")}` : \"\",     $fromAI(\"cnpj\") && !/^0+$/.test($fromAI(\"cnpj\")) && $fromAI(\"cnpj\").length >= 11 ? `cnpj=eq.${$fromAI(\"cnpj\")}` : \"\",     $fromAI(\"tipo_venda_pedido\") && !/^0+$/.test($fromAI(\"tipo_venda_pedido\")) ? `tipo_venda_pedido=in.(${$fromAI(\"tipo_venda_pedido\")})` : \"\",     $fromAI(\"numero_pedido\") && !/^0+$/.test($fromAI(\"numero_pedido\")) && $fromAI(\"numero_pedido\") !== $fromAI(\"codigo_cliente\") ? `numero_pedido=eq.${$fromAI(\"numero_pedido\")}` : \"\",     $fromAI(\"data_inicio\") ? `data_pedido=gte.${$fromAI(\"data_inicio\")}` : \"\",     $fromAI(\"data_fim\") ? `data_pedido=lte.${$fromAI(\"data_fim\")}` : \"\"   ].filter(x => x !== \"\").join(\"&\") || \"codigo_cliente=is.null\" }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -7264,
        2560
      ],
      "id": "58ae1fdd-0d0c-455c-b0cd-5ec87f38b8ae",
      "name": "Master_Busca_PRIME",
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use EXCLUSIVAMENTE para buscar dados cadastrais (endereço, bloqueio, filial). NUNCA use para buscar vendas.\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"codigo_cliente\": {\n      \"type\": \"string\",\n      \"description\": \"Código numérico exato do cliente. NÃO preencha se não fornecido.\"\n    },\n    \"cnpj\": {\n      \"type\": \"string\",\n      \"description\": \"CNPJ ou CPF do cliente. Use apenas números. OMITA esta propriedade se não tiver certeza do valor. NUNCA preencha com zeros (00000).\"\n    }\n  }\n}",
        "operation": "getAll",
        "tableId": "data_clients",
        "limit": 8,
        "filterType": "string",
        "filterString": "={{   [     $fromAI(\"codigo_cliente\") && !/^0+$/.test($fromAI(\"codigo_cliente\")) ? `codigo_cliente=eq.${$fromAI(\"codigo_cliente\")}` : \"\",     $fromAI(\"cnpj\") && !/^0+$/.test($fromAI(\"cnpj\")) && $fromAI(\"cnpj\").length >= 11 ? `cnpj=eq.${$fromAI(\"cnpj\")}` : \"\"   ].filter(x => x !== \"\").join(\"&\") || \"codigo_cliente=is.null\" }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -7440,
        2560
      ],
      "id": "4403b953-60c1-4deb-96ed-7e701054bd62",
      "name": "Consultar_Cadastro_Cliente",
      "notesInFlow": false,
      "credentials": {
        "supabaseApi": {
          "id": "UZvmJzBqXrtqsGRh",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemma-4-26b-a4b-it",
        "options": {
          "maxOutputTokens": 15000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7904,
        2560
      ],
      "id": "b7ab8f3c-0157-4e49-a2e4-d79fb06229f8",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "maxTries": 3,
      "credentials": {
        "googlePalmApi": {
          "id": "Vm4TtLOlExP45pUr",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_V102_{{ $('Edit Fields').item.json.chatid }}",
        "sessionTTL": 1800,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -7728,
        2560
      ],
      "id": "f2574dc8-fad6-47b1-9779-0e1015ad7997",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "vEXjVVeN86ugbNeD",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "=message.any",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ee742ab0-1cfd-42d7-a96a-6828d9355892"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -7296,
        2352
      ],
      "id": "e9753f22-e65c-41b4-b029-d4c2faadba63",
      "name": "Switch",
      "alwaysOutputData": false
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2026.5.1",
            "x-webhook-request-id": "3zxak8mqjmlqil",
            "x-webhook-timestamp": "1781794773879",
            "content-length": "2456",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01kvdkx6vqavkrr6vdarwekbke",
            "timestamp": 1781794773879,
            "event": "message.any",
            "session": "default",
            "metadata": {},
            "me": {
              "id": "557332236100@c.us",
              "pushName": "Prime Distribuição",
              "lid": "38956058067002@lid",
              "jid": "557332236100:4@s.whatsapp.net"
            },
            "payload": {
              "id": "false_65713167446078@lid_3EB0F1C974D1B3F644EA63",
              "timestamp": 1781794773,
              "from": "65713167446078@lid",
              "fromMe": false,
              "source": "app",
              "body": "sim",
              "to": null,
              "participant": null,
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "location": null,
              "vCards": null,
              "ackName": "DEVICE",
              "replyTo": null,
              "_data": {
                "Info": {
                  "Chat": "65713167446078@lid",
                  "Sender": "65713167446078:48@lid",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "AddressingMode": "",
                  "SenderAlt": "557381941146:48@s.whatsapp.net",
                  "RecipientAlt": "",
                  "BroadcastListOwner": "",
                  "BroadcastRecipients": null,
                  "ID": "3EB0F1C974D1B3F644EA63",
                  "ServerID": 0,
                  "Type": "text",
                  "PushName": "Daniel César",
                  "Timestamp": "2026-06-18T14:59:33Z",
                  "Category": "",
                  "Multicast": false,
                  "MediaType": "",
                  "Edit": "",
                  "MsgBotInfo": {
                    "EditType": "",
                    "EditTargetID": "",
                    "EditSenderTimestampMS": "0001-01-01T00:00:00Z"
                  },
                  "MsgMetaInfo": {
                    "TargetID": "",
                    "TargetSender": "",
                    "TargetChat": "",
                    "DeprecatedLIDSession": null,
                    "ThreadMessageID": "",
                    "ThreadMessageSenderJID": ""
                  },
                  "VerifiedName": null,
                  "DeviceSentMeta": null
                },
                "Message": {
                  "conversation": "sim",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "bvAroOwyQAFRpQ==",
                      "senderTimestamp": 1781369264,
                      "senderAccountType": 0,
                      "receiverAccountType": 1,
                      "recipientKeyHash": "LI1Yrcj/JLQgqQ==",
                      "recipientTimestamp": 1781729471
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "ClBnCrYeonYz/zd70NOv3VlnlW05IR/+H2J3jRkwu2c=",
                    "limitSharingV2": {
                      "trigger": 0,
                      "initiatedByMe": false
                    }
                  }
                },
                "IsEphemeral": false,
                "IsViewOnce": false,
                "IsViewOnceV2": false,
                "IsViewOnceV2Extension": false,
                "IsDocumentWithCaption": false,
                "IsLottieSticker": false,
                "IsBotInvoke": false,
                "IsEdit": false,
                "SourceWebMsg": null,
                "UnavailableRequestID": "",
                "RetryCount": 0,
                "NewsletterMeta": null,
                "RawMessage": {
                  "conversation": "sim",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "bvAroOwyQAFRpQ==",
                      "senderTimestamp": 1781369264,
                      "senderAccountType": 0,
                      "receiverAccountType": 1,
                      "recipientKeyHash": "LI1Yrcj/JLQgqQ==",
                      "recipientTimestamp": 1781729471
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "ClBnCrYeonYz/zd70NOv3VlnlW05IR/+H2J3jRkwu2c=",
                    "limitSharingV2": {
                      "trigger": 0,
                      "initiatedByMe": false
                    }
                  }
                },
                "Status": 3
              }
            },
            "environment": {
              "version": "2026.5.1",
              "engine": "GOWS",
              "tier": "CORE",
              "browser": null,
              "platform": "linux/x64",
              "worker": {
                "id": null
              }
            }
          },
          "webhookUrl": "http://host.docker.internal:5678/webhook/webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Transferencia": {
      "main": [
        [
          {
            "node": "Switch Setor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Setor": {
      "main": [
        [
          {
            "node": "Alerta Grupo Financeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Grupo Logistica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Grupo Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar_RCA": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limpar Mensagem IA Ajustado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Mensagem IA Ajustado": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If Transferencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Catalogo_Produtos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Filial_Cidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Inovacao_Mes_Atual": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Historico_Frequencia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_relação_inovações": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Mix_Ideal": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Master_Busca_PRIME": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_Cadastro_Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e62fa2c3-c165-4661-9fa6-6ac333866597",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "794d69bc5dcc6fb73a707f64e2447ab911b7d0bd698a31ab742115dede7cc9cb"
  },
  "nodeGroups": [],
  "id": "FQjgW1C9JKFZqsto",
  "tags": []
}
